<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>DemoGameServlet</display-name>
    <servlet-name>DemoGameServlet</servlet-name>
    <servlet-class>DemoGameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoGameServlet</servlet-name>
    <url-pattern>/DemoGameServlet</url-pattern>
  </servlet-mapping>
  <display-name>QuizGame</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DemoLoginServlet</display-name>
    <servlet-name>DemoLoginServlet</servlet-name>
    <servlet-class>DemoLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoLoginServlet</servlet-name>
    <url-pattern>/DemoLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoRegServlet</display-name>
    <servlet-name>DemoRegServlet</servlet-name>
    <servlet-class>DemoRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoRegServlet</servlet-name>
    <url-pattern>/DemoRegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>